$color-bg: hsl(210, 46%, 95%);
$color-bg-active-section: hsl(217, 19%, 35%);
$color-bg-btn-share: hsl(214, 17%, 51%);
$color-text-active-section: hsl(212, 23%, 69%);

$font-size: 13px;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
$font-family: "Manrope", sans-serif;
